@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@toolwind/corner-shape";

@custom-variant dark (:where(.dark &));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-foreground-51: var(--muted-foreground-51);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --header-h: 48px;
  --breakpoint-xs: 359px;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --muted-foreground-51: color-mix(
    in oklab,
    var(--muted-foreground) 51%,
    transparent
  );
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --header-h: 48px;

  interpolate-size: allow-keywords;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button,
  a {
    cursor: pointer;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility scrollbar-width-none {
  scrollbar-width: none;
}

@utility btn {
  @apply transition-all duration-250 ease-in-out active:scale-95; /* hover:scale-105 */
}

@layer components {
  .input-group {
    &:has(input:focus) .input-label {
      @apply text-foreground;
    }
    &:has(input.required) .input-label::after {
      content: "*";
      color: var(--destructive);
      margin-left: 1px;
    }

    @apply flex h-max w-full flex-col items-start gap-[1.5px];
  }
  /* max-w-120 for input-group */
  .input-label {
    @apply text-muted-foreground gap-0!;
  }

  .input {
    @apply text-foreground h-11! shadow-none! dark:border-0!; /* h-12 !h-11.25 */
  }

  .input-error {
    @apply text-destructive m-0! text-sm font-medium;
  }

  .button {
    @apply h-11!;
  }
}

/* tiptap niazmorshed.dev */
.ProseMirror {
  @apply px-4 pt-2;
  outline: none !important;
}

h1.tiptap-heading {
  @apply mt-8 mb-6 text-4xl font-bold;
}

h2.tiptap-heading {
  @apply mt-6 mb-4 text-3xl font-bold;
}

h3.tiptap-heading {
  @apply mt-4 mb-3 text-xl font-bold;
}

h1.tiptap-heading:first-child,
h2.tiptap-heading:first-child,
h3.tiptap-heading:first-child {
  margin-top: 0;
}

h1.tiptap-heading + h2.tiptap-heading,
h1.tiptap-heading + h3.tiptap-heading,
h2.tiptap-heading + h1.tiptap-heading,
h2.tiptap-heading + h3.tiptap-heading,
h3.tiptap-heading + h1.tiptap-heading,
h3.tiptap-heading + h2.tiptap-heading {
  margin-top: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-accent-foreground pointer-events-none float-left h-0;
  content: attr(data-placeholder);
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.tiptap blockquote {
  border-left: 3px solid gray;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

@layer components {
  .overlay {
    @apply data-open:animate-in data-closed:animate-out data-closed:fade-out-0 data-open:fade-in-0 bg-background/70 fixed inset-0 isolate z-1001 duration-150 supports-backdrop-filter:backdrop-blur-[2px];
    will-change: opacity, backdrop-filter, transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms linear;
  }

  /* when open */
  .overlay[data-state="open"] {
    opacity: 1;
    pointer-events: auto;
  }

  /* when closed (keeps it in DOM until we unmount) */
  .overlay[data-state="closed"] {
    opacity: 0;
    pointer-events: none;
  }

  .section {
    @apply mb-5 flex flex-col gap-2 border-b p-4;

    .heading {
      @apply text-2xl font-extrabold md:text-3xl;
    }

    .wrap {
      @apply grid w-full grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }

    .wrap-flex {
      @apply scrollbar-width-none flex flex-row gap-2 overflow-x-scroll overflow-y-clip md:gap-3;
    }

    .footing {
      @apply flex items-center justify-end text-sm;
    }
  }
}

.menu {
  @apply relative size-6.5 rounded-full;

  .bar {
    @apply bg-foreground absolute top-1/2 left-1/2 block h-0.5 w-6 rounded-sm duration-250;
  }

  .bar:first-child {
    transform: translateX(-50%) translateY(-4px);
  }
  .bar:last-child {
    transform: translateX(-50%) translateY(4px);
  }
}

.menu.active {
  .bar:first-child {
    transform: translateX(-50%) rotate(45deg);
  }
  .bar:last-child {
    transform: translateX(-50%) rotate(-45deg);
  }
}
